// age cacl 

// @media (width <= 768px) {
        
// }


.calculator {
    padding: 4rem;
    display: flex;
    flex-direction: column;

    width: min(50rem, calc(100% - 2rem));
    margin-inline: auto;

    background-color: var(--c-white);

    border-radius: 1.5rem;
    border-bottom-right-radius: 12rem;

    -webkit-box-shadow: 0px 0px 73px -76px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 73px -76px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 73px -76px rgba(0,0,0,0.45);

    &__input {
        position: relative;
    }

    .input-wrapper {
        display: flex;
        gap: 2rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--c-light-grey);

        .input__element {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .input__label {
                font-weight: bold;
                font-size: .8rem;
                text-transform: uppercase;
                letter-spacing: 4px;

                color: var(--c-smokey-grey);
            }

            // util
            .error {
                color: var(--c-light-red);
            }

            .user__input {
                padding: 1rem;
                width: 10rem;

                font-size: 2rem;
                font-weight: bold;

                border: 1px solid var(--c-light-grey);

                border-radius: .5rem;

                &:focus {
                    outline-color: var(--c-purple);
                    caret-color: var(--c-purple);
                }
            }

            // util
            .error-outline {
                border: 1px solid var(--c-light-red);
            }

            .input__error {
                color: var(--c-light-red);
                font-size: .8rem;
                font-style: italic ;
            }
        }
    }

    &__btn {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        display: block;
        padding: 1.5rem;
        max-width: 7rem;
        border-radius: 50%;
        background-color: var(--c-purple);
        transition: background-color .3s ease;

        &:hover {
            background-color: var(--c-off-black);
        }

        svg {
            display: block;
        }
    }

    &__result {
        & > h1 {
            font-size: 6rem;
            margin-bottom: -2rem;
        }
    }

    .result__num {
        color: var(--c-purple);
    }
}