*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: Poppins, sans-serif;
  background-color: var(--c-light-grey);
}

button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-style: italic;
}

:root {
  --c-purple: hsl(259, 100%, 65%);
  --c-light-red: hsl(0, 100%, 67%);
  --c-white: hsl(0, 0%, 100%);
  --c-light-grey: hsl(0, 0%, 86%);
  --c-smokey-grey: hsl(0, 1%, 44%);
  --c-off-black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
.calculator {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: min(50rem, 100% - 2rem);
  margin-inline: auto;
  background-color: var(--c-white);
  border-radius: 1.5rem;
  border-bottom-right-radius: 12rem;
  -webkit-box-shadow: 0px 0px 73px -76px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 73px -76px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 73px -76px rgba(0, 0, 0, 0.45);
}
.calculator__input {
  position: relative;
}
.calculator .input-wrapper {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--c-light-grey);
}
.calculator .input-wrapper .input__element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.calculator .input-wrapper .input__element .input__label {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--c-smokey-grey);
}
.calculator .input-wrapper .input__element .error {
  color: var(--c-light-red);
}
.calculator .input-wrapper .input__element .user__input {
  padding: 1rem;
  width: 10rem;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid var(--c-light-grey);
  border-radius: 0.5rem;
}
.calculator .input-wrapper .input__element .user__input:focus {
  outline-color: var(--c-purple);
  caret-color: var(--c-purple);
}
.calculator .input-wrapper .input__element .error-outline {
  border: 1px solid var(--c-light-red);
}
.calculator .input-wrapper .input__element .input__error {
  color: var(--c-light-red);
  font-size: 0.8rem;
  font-style: italic;
}
.calculator__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  display: block;
  padding: 1.5rem;
  max-width: 7rem;
  border-radius: 50%;
  background-color: var(--c-purple);
  transition: background-color 0.3s ease;
}
.calculator__btn:hover {
  background-color: var(--c-off-black);
}
.calculator__btn svg {
  display: block;
}
.calculator__result > h1 {
  font-size: 6rem;
  margin-bottom: -2rem;
}
.calculator .result__num {
  color: var(--c-purple);
}

/*# sourceMappingURL=main.css.map */
