:root {
    --c-purple: hsl(259, 100%, 65%);
    --c-light-red: hsl(0, 100%, 67%);
    --c-white: hsl(0, 0%, 100%);
    --c-light-grey: hsl(0, 0%, 86%);
    --c-smokey-grey: hsl(0, 1%, 44%);
    --c-off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;

    font-family: Poppins, sans-serif;

    background-color: var(--c-light-grey);
}

button {
    display: block;
    border: none;

    background: none;

    cursor: pointer;
}

svg {
    display: block;
    max-width: 100%;
}

h1 {
    font-style: italic;
}

.calculator {
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;

    border-radius: 1.5rem;
    border-bottom-right-radius: 12rem;

    background-color: var(--c-white);

    -webkit-box-shadow: 0px 0px 73px -76px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 73px -76px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 73px -76px rgba(0, 0, 0, 0.45);
}

.calculator__input {
    position: relative;
    margin-block: 3rem;
}

.input {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid var(--c-light-grey);
}

.input__element {
    display: flex;
    flex-direction: column;
}

.input__element .input__label {
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--c-smokey-grey);
}

.input__element .error {
    color: var(--c-light-red);
}

.input__element .user__input {
    padding: 1rem;
    width: 10rem;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid var(--c-light-grey);
    border-radius: 0.5rem;
}

.input__element .user__input:focus {
    outline-color: var(--c-purple);
    caret-color: var(--c-purple);
}

.input__element .error-outline {
    border: 1px solid var(--c-light-red);
}
.input__element .input__error {
    color: var(--c-light-red);
    font-size: 0.8rem;
    font-style: italic;
}

.calculator__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    display: block;
    padding: 1.5rem;
    max-width: 7rem;
    border-radius: 50%;
    background-color: var(--c-purple);
    transition: background-color 0.3s ease;
}

.calculator__btn:hover {
    background-color: var(--c-off-black);
}

.calculator__btn svg {
    display: block;
}

/* results section */
.result {
    padding-bottom: 2rem;
}

.result__text {
    font-size: 6rem;
    margin-bottom: -2rem;
}

.result__num {
    color: var(--c-purple);
}

@media (max-width: 425px) {
	.calculator {
		margin-inline: 0;
		padding-inline: .8rem;
	}

	.input {
		gap: 0.5rem;
	}

	.input__element .input__label {
		font-size: 0.6rem;
	}

	.input__element .user__input {
		padding: 1rem;
		width: 7rem;
		font-size: 1rem;
	}

	.input__element .input__error {
		font-size: 0.6rem;
	}

	.calculator__btn {
		right: 50%;
		transform: translate(50%, 50%);
		padding: 0.8rem;
		max-width: 7rem;
	}

	.result__text {
		font-size: 3rem;
		margin-bottom: -1.5rem;
	}
}


@media (max-width: 375px) {
	.input__element .user__input {
		padding: 1rem;
		width: 6rem;
		font-size: 0.8rem;
	}
}